
<div class="grid grid-nogutter surface-section text-800">
  <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
    <section>
      <span class="block text-6xl font-bold mb-1">  UserName <!--{{project?.name}} --></span>
      <span class="mt-0 mb-4 text-700 line-height-3">
        <div>
          <p>Mail a remonter </p>
        </div>
        <div>
          <p>Password a remonter </p>
        </div>
         <div>
          <p>Login a remonter </p>
        </div>
        <h5>Compétences</h5>
        <p-tag styleClass="p-mr-2" >
        Compétence1
      </p-tag>
      </span>
      <br>
      <br>
      <div>
        <p-button label="Projects" ></p-button>

        <p-button label="Tasks" ></p-button>

        <p-button label="Other projects" ></p-button>
      </div>
    </section>
  </div>
</div>
<div class="nav">
  <p-button label="Save" ></p-button>
  <p-button label="Cancel" [routerLink]="['/home']"></p-button>
</div>
<br><br>
