<footer>
  <hr/>
  <div class="flex alignment">
    <div class="position cos">
      <img class="image" src="../../assets/images/mail_icon.svg" alt="mail"/>
      <hr>
      <a href="mailto:Plateform@gmail.com">contact us</a>
    </div>
    <p layout="vertical"></p>
    <div class="position cos">
      <img class="image" src="../../assets/images/location_icon.svg" alt="adress"/>
      <hr>
      <p>nowhere and everywhere this is decentralization</p>
    </div>
    <p layout="vertical"></p>
    <div class="position cos">
      <img class="image" src="../../assets/images/twitter_icon.svg" alt="social"/>
      <hr>
      <a href="twitter.com">follow us</a>
    </div>
    <p layout="vertical"></p>
    <div class="position cos">
      <img class="image" src="../../assets/images/insta_logo.svg" alt="social"/>
      <hr>
      <a href="instagram.com">follow us</a>
    </div>
  </div>
</footer>
