<footer>
  <hr/>
  <div class="flex alignment">
    <div class="position cos">
      <i class="pi pi-map-marker imgNG"></i>
      <hr>
      <a href="mailto:Plateform@gmail.com">contact us</a>
    </div>
    <p layout="vertical"></p>
    <div class="position cos">
      <i class="pi pi-send imgNG"></i>
      <hr>
      <p class="text">nowhere everywhere it's decentralization</p>
    </div>
    <p layout="vertical"></p>
    <div class="position cos">
      <i class="pi pi-twitter imgNG"></i>
      <hr>
      <a href="twitter.com">follow us</a>
    </div>
    <p layout="vertical"></p>
    <div class="position cos">
      <i class="pi pi-instagram imgNG"></i>
      <hr>
      <a href="instagram.com">follow us</a>
    </div>
  </div>
</footer>
