<footer>
  <hr/>
  <div class="flex alignment">
    <div class="position cos">
      <i class=" pi pi-envelope imgNG"></i>
      <hr>
      <a href="mailto:Plateform@gmail.com">{{ 'FOOTER.CONTACT' | translate}}</a>
    </div>
    <p layout="vertical"></p>
    <div class="position cos">
      <i class="pi pi-map-marker imgNG"></i>
      <hr>
      <p class="text">{{ 'FOOTER.LOCATION' | translate}}</p>
    </div>
    <p layout="vertical"></p>
    <div class="position cos">
      <i class="pi pi-twitter imgNG"></i>
      <hr>
      <a href="http://twitter.com">{{ 'FOOTER.SOCIAL' | translate}}</a>
    </div>
    <p layout="vertical"></p>
    <div class="position cos">
      <i class="pi pi-instagram imgNG"></i>
      <hr>
      <a href="http://instagram.com">{{ 'FOOTER.SOCIAL' | translate}}</a>
    </div>
  </div>
</footer>
