.position {
  text-align: center;
  height: auto;
  width: 300px;
  margin: 3px auto;
  padding: 6px 6px;

}
.cos{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.text{
  font-size: small;
}

 .imgNG{
   font-size: 3em;
 }


 .footer {
  bottom: 0;
  padding: 19px 15px 20px;
  position: -webkit-sticky;
  right: 0;
  color:  #1f80b0;
  left: 0;
  background-color: #ffffff;
 }
