<div class="login">

    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="formgrid justify-content-center"
          style="margin-right: 0;">
  
      <h1>{{ 'LOGIN.TITLE' | translate}}</h1>
  
      
      <div class="field p-ml-2">
        <label for="name">{{ 'LOGIN.PSEUDO' | translate}}</label>
        <input id="name" type="text" formControlName="name" class="form-control inputfield w-full"
               [ngClass]="{ 'is-invalid' : submitted && createProjetControls['name'].errors }" style="height: 42px" pInputText
               required>
        <small *ngIf="submitted && !!createProjetControls['name'].errors?.['required']; else empty" e id="name-help"
               class="p-error">
          {{ 'LOGIN.ERROR.GENERIC' | translate}}
        </small>
        <ng-template #empty>
        </ng-template>
        
      </div>
      
      <div class="field p-ml-2">
        <label for="password">{{ 'LOGIN.PASSWORD' | translate}}</label>
        <input pPassword id="password" type="text" formControlName="password" class="form-control inputfield w-full"
               [ngClass]="{ 'is-invalid' : submitted && createProjetControls['password'].errors }" style="height: 42px"
               required>
        <small *ngIf="submitted && !!createProjetControls['password'].errors?.['required'];else empty" id="password-help"
               class="p-error">
          {{ 'LOGIN.ERROR.GENERIC' | translate}}
        </small>
        
      </div>
  
  
      <button type="submit" class="button justify-self-center p-button-rounded" pButton id="createUser">
        {{ 'LOGIN.SUBMIT' | translate}}
      </button>
  
    </form>
  </div>