<div class="login">

    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="formgrid justify-content-center"
          style="margin-right: 0;">
  
      <h1>{{ 'LOGIN.TITLE' | translate}}</h1>
  
      
      <div class="field p-ml-2">
        <label for="username">{{ 'LOGIN.PSEUDO' | translate}}</label>
        <input id="connectusername" type="text" formControlName="username" class="form-control inputfield w-full"
               [ngClass]="{ 'is-invalid' : submitted && ConnectionControls['username'].errors }" style="height: 42px" pInputText
               required>
        <small *ngIf="submitted && !!ConnectionControls['username'].errors?.['required']; else empty" e id="username-help"
               class="p-error">
          {{ 'LOGIN.ERROR.GENERIC' | translate}}
        </small>
        <ng-template #empty>
        </ng-template>
        
      </div>
      
      <div class="field p-ml-2">
        <label for="password">{{ 'LOGIN.PASSWORD' | translate}}</label>
        <input pPassword id="connectpassword" type="password" formControlName="password" class="form-control inputfield w-full"
               [ngClass]="{ 'is-invalid' : submitted && ConnectionControls['password'].errors }" style="height: 42px" [feedback]="false"
               required>
        <small *ngIf="submitted && !!ConnectionControls['password'].errors?.['required'];else empty" id="password-help"
               class="p-error">
          {{ 'LOGIN.ERROR.GENERIC' | translate}}
        </small>
        
      </div>
  
  
      <button type="submit" class="button justify-self-center p-button-rounded" pButton id="connectUser">
        {{ 'LOGIN.SUBMIT' | translate}}
      </button>
  
    </form>

    <p-messages *ngIf="submissionFailed" [(value)]="errorMessage" id="internalError"></p-messages>
    <p-messages *ngIf="loginFailed" [(value)]="LoginFailMessage" id="loginFail"></p-messages>
  </div>