<div class="grid grid-nogutter surface-section text-800">
  <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
    <section>
      <span class="block text-6xl font-bold mb-1"> {{project.name}} </span>
      <p-tag styleClass="p-mr-2" *ngFor="let category of project.categories;">
        {{category.name}}
      </p-tag>
      <span class="mt-0 mb-4 text-700 line-height-3">
        <div>
          {{project.description}}
        </div>
      </span>
    </section>
  </div>
  <div class="col-12 md:col-6 overflow-hidden">
    <img [src]="project.imagePath" alt="Image" class="md:ml-auto block md:h-full"
      style="clip-path: polygon(8% 0%, 100% 0%, 100% 100%, 0 100%)">
  </div>
</div>

<br/>
<app-liste [project]="project"></app-liste>