.e614_2974 {
	color:rgba(12.006249949336052, 12.225655876100063, 12.750000189989805, 1);
	width:262px;
	height:32px;
	position:absolute;
	left:249px;
	top:32px;
  font-family: Poppins, serif;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
	line-height:1px;
}

.e614_2976 {
	color:rgba(12.006249949336052, 12.225655876100063, 12.750000189989805, 1);
	width:283px;
	height:32px;
	position:absolute;
	left:282.5px;
	top:61.5px;
	font-family:Poppins serif;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
	line-height:1px;
}



.card:hover{
	transform: scale(1.05);
	box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06) ;
	opacity: 0.7;
}

.card-title{
	margin-top: 150px;
	margin-left: 250px;

	font-size:60px;
}

.card-desc{
	margin-top: 50px;
	margin-left: 250px;
	font-size: 20px;

}

.card-cat{
	margin-left: 250px;
	font-size : 20px;

}

.col-12 {
  background-color: rgb(235, 235, 235);
  min-height : 300px;
  max-height : 300px;
}

.p-tag {
  font-size: 3em;
}

.p-element {
  margin: 0px 7px 0px 0px;


}

.p-button-rounded {
  color: #ffffff;
  background: #2196F3;
  border: 1px solid #2196F3;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
  border-radius: 3px;
  padding: 10px;
  margin: 1%;
}
