<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
  <label for="name">Name : </label>
  <input id="name" type="text" formControlName="name" required>

  <label for="description">Description : </label>
  <input id="description" type="text" formControlName="description" required>

  <label for="budget">Budget : </label>
  <input id="budget" type="number" formControlName="budget" min="0" oninput="this.value = this.value > 0 ? this.value : null" required>
  
  <span class="p-fluid">
    <p-autoComplete  formControlName="categories" [suggestions]="filteredCategories" (completeMethod)="filterCategories($event)" field="name" [multiple]="true">
    </p-autoComplete>
  </span>


  <button type="submit">
    Validate
  </button>
</form>
