<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
  <label for="name">Name : </label>
  <input id="name" type="text" formControlName="name" required>

  <label for="description">Description : </label>
  <input id="description" type="text" formControlName="description" required>

  <label for="budget">Budget : </label>
  <input id="budget" type="number" formControlName="budget" required>

  <tag-input formControlName="tags"></tag-input>

  <button type="submit">
    Validate
  </button>
</form>
