<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="formgrid grid p-5 justify-content-center"
style="margin-right: 0;">

  <div class="field col-12">
    <label for="name">{{ 'PROJECT.CREATE.FIELD.NAME' | translate}}</label>
    <input id="name" type="text" formControlName="name" class="form-control inputfield w-full"
      [ngClass]="{ 'is-invalid' : submitted && createTaskControls['name'].errors }" style="height: 42px"
      pInputText required>
    <small *ngIf="submitted && !!createTaskControls['name'].errors?.['required']" id="name-help" class="p-error">
      {{ 'PROJECT.CREATE.ERROR.GENERIC' | translate}}
    </small>
  </div>

  <div class="field col-12">
    <label for="description">{{ 'PROJECT.CREATE.FIELD.DESCRIPTION' | translate}}</label>
    <textarea  id="description" type="text" formControlName="description" class="form-control inputfield w-full"
      [rows]="5" [cols]="30"
      [ngClass]="{ 'is-invalid' : submitted && createTaskControls['description'].errors }" pInputTextArea required>
    </textarea>
    <small *ngIf="submitted && !!createTaskControls['description'].errors?.['required']" id="description-help" class="p-error">
      {{ 'PROJECT.CREATE.ERROR.GENERIC' | translate}}
    </small>
  </div>

  <div class="field col-12 p-fluid">
    <label for="categories">{{ 'PROJECT.CREATE.FIELD.CATEGORY' | translate}}</label>
    <p-autoComplete  formControlName="categories" [suggestions]="filteredCategories" 
      (completeMethod)="filterCategories($event)" appendTo="body"
      field="name" [multiple]="true" [dropdown]="true" [required]="true" class="inputfield w-full"
      [ngClass]="{ 'ng-invalid ng-dirty' : submitted && createTaskControls['categories'].errors }" >
    </p-autoComplete>
    <small *ngIf="submitted && !!createTaskControls['categories'].errors?.['required']" id="categories-help" class="p-error">
      {{ 'PROJECT.CREATE.ERROR.GENERIC' | translate}}
    </small>
  </div>

  <div>
    <button type="submit" class="button align-self-center p-button-rounded" pButton>
      {{ 'TASK.CREATE.SUBMIT' | translate}}
    </button>
  </div>
</form>
