x<div class="card-group container" id="card-trend">
  <h1>tendencies</h1>
  <div class="card">
    <p-dataView [value]="projects" [paginator]="true" [rows]="12" filterBy="name" layout="grid">
      <ng-template let-project pTemplate="gridItem">
        <div class="p-col-12 md:col-4">
          <div class="product-grid-item card">
            <div class="product-grid-item-top">
            </div>
            <div class="product-grid-item-content">
              <img [src]="project.imagePath" />
              <div class="product-name">{{project.name}}</div>
              <div class="product-description">{{project.description}}</div>
            </div>
            <div class="product-grid-item-bottom">
              <span class="product-price">${{project.budget}}</span>
              <p-button icon="pi pi-shopping-cart"></p-button>
            </div>
          </div>
        </div>
      </ng-template>
    </p-dataView>
  </div>
</div>

<div id="contact">
  <h1>Contact us:</h1>
  <h3>+1-415-555-0173</h3>
  <h3>plateform@gmail.com</h3>
  <p>la fistinière</p>
  <p>San Francisco</p>
</div>

<button [routerLink]="['/newproject']">
  Create new project
</button>

<button [routerLink]="['/project', name]">
  routeDetailProjet
</button>