.card-group{
  padding-top: 3em;
}

#contact{
  margin: auto;
  text-align: center;
  padding-top: 3em;
}
.carousel {
  /*height: 500px; OLD*/
  /*margin-bottom: 60px; OLD*/
  /*max-width:1200px; THIS IS OPTIONAL (ANY SIZE YOU LIKE)*/
  margin: 10em;
}

.carousel .item {
  /*height: 500px; OLD*/
  /*background-color: #777; OLD*/

  width:100%;
  height:auto;
}
.carousel-inner > .item > img {
  /*position: absolute; OLD+WHY?*/
  /*top: 0; OLD+WHY?*/
  /*left: 0; OLD+WHY?*/

  min-width:100%;
  height:auto;
}
.carousel-item img {
  height: 600px;
  max-height: 600px;
  object-fit: scale-down;
}
.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
  filter: invert(100%);
}
.text_carrousel{
  background-color: black;
  opacity:0.6;
  font-weight: bold;
  text-align: left;
  width: 30%;
}
.text_carrousel:hover{
  opacity: 0.85;
}
