
<div class="grid grid-nogutter surface-section text-800">
  <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
      <section>
          <span class="block text-6xl font-bold mb-1">Create the projects </span>
          <div class="text-6xl text-primary font-bold mb-3">your community deserve to see</div>
          <p class="mt-0 mb-4 text-700 line-height-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          
          <button pButton pRipple label="Create project" type="button" class="mr-3 p-button-raised" [routerLink]="['/newproject']"></button>
          
      </section>
  </div>
  <div class="col-12 md:col-6 overflow-hidden">
      <img src="https://www.daf-mag.fr/Assets/Img/BREVE/2020/12/355489/Quelle-methode-projet-votre-transformation--F.jpg" alt="Image" class="md:ml-auto block md:h-full" style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)">
  </div>
</div>






<div class="card-group container"  id="card-trend">
  <div class="card">
    <p-dataView [value]="projects" [paginator]="true" [rows]="6" filterBy="name" layout="grid">
      <ng-template let-project pTemplate="gridItem">
        
          <div class="project-grid-item card">
            <div class="project-grid-item-top">
            </div>
            <div class="project-grid-item-content ">
              <img class="project-grid-item img" [src]="project.imagePath" (click)="showDialog(project)"/>
             </div>
             <p-dialog [header]="selectedProject.name" [(visible)]="display" [modal]="true">
                <img class='img-overlay' [src]="selectedProject.imagePath"/> 
              
              <p>
                {{selectedProject.description}}
              </p>
              <p>
                {{selectedProject.budget}}
              </p>
              <p>
                <button pButton pRipple label="Voir le projet" type="button" class="mr-3 p-button-raised" [routerLink]="['/detail-project']"></button>
              </p>
            </p-dialog>
              <div class="project-grid-item-bottom">              
            </div>
          </div>
        
      </ng-template>
      
    </p-dataView>
  </div>
</div>

<div id="contact">
  <h1>Contact us:</h1>
  <h3>+1-415-555-0173</h3>
  <h3>plateform@gmail.com</h3>
  <p>la fistinière</p>
  <p>San Francisco</p>
</div>
